## Question 1

* What's the version of Pandas that you installed?

In [1]:
# Obtain installed pandas version
import pandas as pd

pd.__version__

'2.0.3'

## Question 2

* How many columns are in the dataset?

In [2]:
# Obtain the number features/columns of the dataset

url = "https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv"
df = pd.read_csv(url)

df.shape[1]

10

## Question 3

* Which columns in the dataset have missing values?

In [3]:
# Obtain the total number of null values present in each column

df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

## Question 4
* How many unique values does the ocean_proximity column have?

In [4]:
# Obtain number of unique elements in `ocean_proximity`

df.ocean_proximity.nunique()

5

## Question 5

* What's the average value of the median_house_value for the houses located near the bay?

In [5]:
# Filter `ocean_proximity` by `NEAR BAY` using groupby
# Streamline result by obtaining mean of `median_house_value` of both `NEAR BAY` and not `NEAR BAY`

df.groupby(df['ocean_proximity'] == 'NEAR BAY').median_house_value.mean()

ocean_proximity
False    200321.954605
True     259212.311790
Name: median_house_value, dtype: float64

## Question 6

* Calculate the average of total_bedrooms column in the dataset.

* Use the fillna method to fill the missing values in total_bedrooms with the mean value from the previous step.

`Now, calculate the average of total_bedrooms again.`
`Has it changed? Yes/No`

`Hint: take into account only 3 digits after the decimal point.`

In [6]:
# Calculate mean value of `total_bedrooms` column

avg_tot_bedrooms = df.total_bedrooms.mean()
avg_tot_bedrooms

537.8705525375618

In [7]:
# Fill missing values in the `total_bedrooms` column with obtained mean value

df.total_bedrooms.fillna(avg_tot_bedrooms, inplace = True)

In [8]:
# Check if there are no longer null values

df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [9]:
# Obtain mean value of `total_bedrooms` column without null values

newavg_tot_bedrooms = df.total_bedrooms.mean()
newavg_tot_bedrooms

537.8705525375617

## Question 7

* Select all the options located on islands.

* Select only columns housing_median_age, total_rooms, total_bedrooms.

* Get the underlying NumPy array. Let's call it X.

* Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.

* Compute the inverse of XTX.

* Create an array y with values [950, 1300, 800, 1000, 1300].

* Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

* What's the value of the last element of w?

`Note: You just implemented linear regression. We'll talk about it in the next lesson.`

In [10]:
# Extract `ISLAND` options from the `ocean_proximity` feature

Island_Opt = df[df['ocean_proximity'] == 'ISLAND']

In [11]:
# Streamline the features of Island_Opt to only 'housing_median_age', 'total_rooms', and 'total_bedrooms'

pd_1 = Island_Opt[['housing_median_age', 'total_rooms', 'total_bedrooms']]
pd_1

      housing_median_age  total_rooms  total_bedrooms
8314                27.0       1675.0           521.0
8315                52.0       2359.0           591.0
8316                52.0       2127.0           512.0
8317                52.0        996.0           264.0
8318                29.0        716.0           214.0

In [12]:
# Convert pd_1 to an array

import numpy as np
X = np.array(pd_1)

In [13]:
# Obtain the transpose of X and check its shape

X_T = X.T

In [14]:
# Matrix-Matrix multiplication between X transpose and X

XTX = np.dot(X_T, X)

In [15]:
# Create an array named y

y = np.array([950, 1300, 800, 1000, 1300])

In [16]:
# Obtain inverse of XTX

XTX_inv = np.linalg.inv(XTX)

In [17]:
# Matrix-Matrix multiplication between inverse of XTX and X transpose

XTX_inv_X_T = XTX_inv @ X_T

In [18]:
# Dot product of the preceeding result and y

w = np.dot(XTX_inv_X_T, y)

w

array([23.12330961, -1.48124183,  5.69922946])